{% extends "layout.html" %}

{% block title %}
    Group
{% endblock %}

{% block main %}
<div id="alert" class="alert_year"></div>
<div class="container login">
    <div>
        <div class="mb-3">
            <select name="class" class="form-control mx-auto w-auto" id="class">
                <option disabled selected>Class Group</option>
                {% for year in years %}
                    <option value="{{year}}" class="form-control mx-auto w-auto">{{year}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" onclick="savegroup()">Save</button>
    </div>
</div>
{% endblock %}