{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <form id="postForm" class="flex-container">
        <a href="/users/{{username}}">
            <img src="{{image}}" alt="pic" class="horizontal-image">
        </a>
        <input type="text" placeholder="   Create a post" class="inputbar" onclick="openPostEditor()">
    </form>
</div>
{% for post in posts %}
    <div class="post-container">
        <div class="post-header">
            <img src="{{post['profilePicturePath']}}" class="horizontal-image" alt="Profile Picture">
            <span class="post-username">
                <p class="username">{{post['fullname']}}</p>
                <p class="belowtext">{{post['class']}} {{post['major']}} |  {{post['time']}}</p>
            </span>
        </div>
        <br>
        <div class="post-content" id="postContent">
            {{post['postContent']}}
        </div>
        {% if post['picturePath'] %}
            <div class="post-image-container">
                <img class="post-image" src="{{post['picturePath']}}" alt="Post Image">
            </div>
        {% endif %}
        <div class="post-actions">
            <button class="vibe-button" data-post-id="{{ post['post_id'] }}">
                <img src="/static/vibe.png" alt="vibe">
                Vibe
            </button>
            <button class="comment-button">
                <img src="/static/comment.png" alt="comment">
                Comment
            </button>
            <br>
        </div>
    </div>
{% endfor %}
<script>
    function openPostEditor()
    {
        const url = "/newpost";
        window.location.href = url;
    }

    document.addEventListener('DOMContentLoaded', function() {
        const likeButtons = document.querySelectorAll('.vibe-button');
        likeButtons.forEach(button => {
            button.addEventListener('click', function() {
                const postId = this.getAttribute('data-post-id');
                alert(`${postId}`)
                likePost(postId);
            });
        });
    
    function likePost(postId) {
    // Send an AJAX request to the Flask route to handle the like functionality
    fetch(`/like_post/${postId}`, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
            // Update the "like" count in the frontend without reloading the page
            const likeCountElement = document.querySelector(`.post[data-post-id="${postId}"] .like-count`);
            likeCountElement.textContent = `Likes: ${data.like_count}`;
        })
        .catch(error => console.error('Error:', error));
}
});
</script>
{% endblock %}