{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block style %}
    <script type="text/javascript" src="/static/index.js"></script>
{% endblock %}

{% block main %}
<div class="container">
    <form id="postForm" class="flex-container">
        <a href="/users/{{username}}">
            <img src="{{image}}" alt="pic" class="horizontal-image">
        </a>
        <input type="text" placeholder="   Create a post" class="inputbar" onclick="openPostEditor()">
    </form>
</div>
{% for post in posts %}
    <div class="post-container">
        <div class="post-header">
            <img src="{{post['profilePicturePath']}}" class="horizontal-image" alt="Profile Picture">
            <span class="post-username">
                <p class="username">{{post['fullname']}}</p>
                <p class="belowtext">{{post['class']}} {{post['major']}} |  {{post['time']}}</p>
            </span>
        </div>
        <br>
        <div class="post-content" id="postContent">
            {{post['postContent']}}
        </div>
        {% if post['picturePath'] %}
            <div class="post-image-container">
                <img class="post-image" src="{{post['picturePath']}}" alt="Post Image">
            </div>
        {% endif %}
        <div class="post-actions">
            <button class="vibe-button" onclick="like({{post['post_id']}})">
                <img id="vibe-image-{{post['post_id']}}" src="/static/vibe.png" alt="vibe">
                <strong>
                    <span id="vibes-count-{{post['post_id']}}">{{post['likes']}}</span>
                    <span class="strong">Vibes</span>
                </strong>
            </button>
            <button class="comment-button">
                <img src="/static/comment.png" alt="comment">
                <strong>Comment</strong>
            </button>
            <br>
        </div>
    </div>
{% endfor %} 
{% endblock %}