{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block style %}
<style>
    body 
    {
        background-image: url("/static/background.jpg");
    }
</style>
{% endblock %}

{% block main %}
<div id="alert" class="alert_year"></div>
<div class="login">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="loginusername" name="username" placeholder="Username" type="text" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="loginpassword" name="password" placeholder="Password" type="password" required>
    </div>
    <button class="btn btn-primary" onclick="loginall()">Log In</button>
</div>
{% endblock %}
