{% extends "layout.html" %}

{% block title %}
    Username
{% endblock %}

{% block main %}
<div id="alert" class="alert_year"></div>
<div class="container login">
    <div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="changeusername" name="bio" placeholder="New username" type="text" onblur="checkchangeusername()">
        </div>
        <button class="btn btn-primary" onclick="changeUsername()">Save</button>
    </div>
</div>
{% endblock %}