{% extends "layout.html" %}

{% block title %}
    Student
{% endblock %}

{% block style %}
<style>
    body {
        background-image: url("/static/background.jpg");
    }
</style>
{% endblock %}

{% block main %}
<div id="alert" class="alert_year"></div>
<div class="year">
    <div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id = "code" name="code" placeholder="Code" type="text" onblur="codeCompare({{session['registration_id']}})" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id = "password" name="password" placeholder="Password" type="password" onblur="passwordAnalyse('password')" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id = "confirm" name="confirm" placeholder="Password Again" type="password" onblur="passwordCompare('confirm','password')" required>
            <input type="hidden" value="{{id}}" name="id">
        </div>
        <div class="mb-3">
            <select name="major" class="form-control mx-auto w-auto" id="major">
                <option disabled selected>Major</option>
                {% for major in majors %}
                    <option value="{{major}}" class="form-control mx-auto w-auto">{{major}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select name="class" class="form-control mx-auto w-auto" id="class">
                <option disabled selected>Class Group</option>
                {% for year in years %}
                    <option value="{{year}}" class="form-control mx-auto w-auto">{{year}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" onclick="year({{session['registration_id']}})">Register</button>
    </div>
</div>
{% endblock %}